Webpack (imports/exports)
    Babel
    Scss
    Eslint
    Modes
        - Development
            Dev Server, Source Maps, Eslint, Not Minitfied JS & Css
        - Production
            Minitfied Code

Git
    Production
    Development
